<div class="login-back">
    <p-card [style]="{ width: '25rem', overflow: 'hidden', padding: '2rem'}">
        <ng-template  pTemplate="header">
            <!-- <div  class="login-heder">
                <img alt="Card" src="../../../../assets/images/seemLogo.jpg" /> 
                <p>Se connecter</p>    
            </div> -->
        </ng-template>
        <ng-template pTemplate="title"> Se connecter </ng-template>
        <p>Veuillez entrer vos coordonnées</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
            <div>
                <span class="p-input-icon-left my-2">
                    <i class="pi pi-envelope"></i>
                    <input id="email" formControlName="email" type="email" pInputText placeholder="Email utilisateur">
                </span>
                <small>
                    <p *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-text">Champ obligatoire</p>
                </small>
            </div>
            <div>
                <span class="p-input-icon-left my-2">
                    <i class="pi pi-key"></i>
                    <input id="password" formControlName="password" type="password" pInputText placeholder="Mot de passe">
                </span>
                <small>
                    <p *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-text">Champ obligatoire</p>
                </small>
            </div>
            <div>
                <p-button label="Se connecter" type="submit" [disabled]="!loginForm.valid" class="w-full" styleClass="w-full" />
            </div>
        </form>
    </p-card>
    <!-- <p-messages [style]="{ top: '70px', right: '20px' , position:'absolute'}"
    position="top-right"></p-messages> -->
    <p-toast></p-toast>
</div>

